h1{
  text-align: center;
  margin: auto;
}

.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}

.grid td.black{
  background-color: black;
}
.grid td.white{
  background-color: white;
}
