html{

background-color: rgba(235,235,240,1);

}

h1{
  text-align: center;
  margin: auto;
}
h2{
  text-align: center;
  margin: auto;
  padding: auto;
}

.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:15px; height:15px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}

.grid td.black{
  background-color: black;
}
.grid td.white{
  background-color: white;
}

.inline{
  display: inline-block;
  margin: auto;
  padding: auto;
  /*border: 1px solid black;*/
}

#inputs input{
  display: block;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
