h1{
  text-align: center;
  margin: auto;
}
h2{
  text-align: center;
  margin: auto;
  padding: auto;
}

.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:15px; height:15px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}

.grid td.black{
  background-color: black;
}
.grid td.white{
  background-color: white;
}
